html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    background-color:#040714;
    color: #f9f9f9;
    font-family: Avenir-Roman,sans-serif;
    margin: 0;
    padding: 0;
}

a,.navbar-toggler i{
    color: #f9f9f9 !important;
    text-decoration: none;
}

@media only screen and (min-width: 768px){
    body{
        font-size:14px;
    }
}



@media only screen and (min-width: 480px) and (max-width: 768px){
    body{
        font-size:15px;
    }
    
}





@media only screen  and (max-width: 479px){
    body{
        font-size:14px;
    }

    
}



@media only screen  and (max-width: 568px){

    .login-page .btn{
        width: 80% !important;
    }

    .login-page .login-img{

        width: 80% !important;
    }

    .login-page p{

        max-width: 900px !important;
    }

    .login-page .login-img-two{
        width: 80% !important;
    }


    
   
}



@media only screen and (max-width: 1000px){

    .navbar-nav{
        display: none !important;
    }
}

/* -------Login page ------*/

.login-page{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;  
    flex-direction: column;  
}

.bg-img{
    height: 100%;
    background-image: url('../public/images/login-background.jpg');
    background-position: top;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.login-page .login-img{
    width: 33%;
    transition-timing-function: ease-out;
    transition: opacity 0.3s;

    }

.login-page .btn{
    width: 33%;
}

.login-page p{
    color: hsla(0,0%,95.3%,1);
    max-width: 500px;
}


.login-page .login-img-two{
    width: 30% ;
}




.navbar{
    width: 100%;
    background-color: #090b13 !important;
}

.nav-link{
    position: relative;
}

.nav-link::after{
    content: " ";
    width:0%;
    height:2px;
    background:#f9f9f9;
    position: absolute;
    left: 0;
    bottom: -0px;
    transition: 0.5s;
}

.nav-link:hover::after{
	
	width:100%;
}

.btn-login{
   border: 2px solid #f9f9f9;
   color: #f9f9f9;
   padding: 5px 30px;
   transition: 0.5s;
}

.btn:focus{
    box-shadow: none !important;
    border: none !important;
}

.btn-login:hover{
    background-color: #f9f9f9;
    color: #040714;
}

.login-pos{
    position: absolute;
    right: 20px;
}

.login-imgs{
    position: absolute;
    right: 45px; 
    top: 13px;
   
}

.login-round{
    border-radius: 50%;
    width: 50px;
    cursor: pointer;
}

.dropdown-menu{
    background:rgb(19,19,19);
}

.dropdown-item{
    letter-spacing:1px;
    font-weight: 500;
}

.dropdown-item:hover{
    background-color: #f9f9f9;
    color: #040714 !important;
}

.home-section{
    width: 100%;
    min-height: 100vh;
}


.home{
    position: relative;
    min-height: calc(100vh - 1600px);
    display: block;
    overflow-x: hidden;
    top: 72px;
    padding: 0 calc(3.5vw + 5px);
    margin-bottom: 80px;
    
}

.home::after{
    background:url('/public//images/home-background.png');
    content: "";
    position: absolute;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    inset: 0;
    z-index: -1;
    opacity: 1;
}

.owl-theme{
    position: relative;
    margin-top: 30px;
}

.owl-theme .item{
    cursor: pointer;
    border-radius: 4px;
}
    

.owl-theme .item img{
    border-radius: 5px;
}

.owl-theme img{
    width: 100%;
    height: 100%;
}

.owl-theme .item img{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
    display: block;
    position: relative;
    padding: 4px;

}

.owl-theme .item img:hover{
      padding: 0;
      border: 4px solid rgba(249, 249, 249, 0.8);
      transition-duration: 300ms;
}

.owl-theme .owl-dots .owl-dot span{
  background-color: rgb(150, 158, 171);
}

.owl-theme .owl-dots .owl-dot .active{
   background-color:white !important;
}


/*--------------------------------Viewers-------------------------------------------*/

.viewers .row{
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    padding-top: 30px;
}

.viewers .row .col .view-div{
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    border: 3px solid rgba(249, 249, 249, 0.1);
}


.viewers .row .col img{
    width: 240px;
    transition: opacity 500ms ease-in-out 0s;
    opacity: 1;
}

.viewers .row .col video{
    width: 100%;
    position: absolute;
    left:0;
    opacity: 0;
    z-index: 0;
    transition: opacity 500ms ease-in-out 0s
}

.viewers .row .col .view-div:hover  video{
    opacity: 1;
    z-index:-1;
}


.viewers .row .col .view-div:hover{
    box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px,
      rgb(0 0 0 / 72%) 0px 30px 22px -10px;
    transform: scale(1.05);
    border-color: rgba(249, 249, 249, 0.8);
}

/*-------------------------------------------------------------------------------------*/


.lastest-content{
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px,
    rgb(0 0 0 / 72%) 0px 30px 22px -10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    border: 3px solid rgba(249, 249, 249, 0.1);

}

.latest img{
    width: 100%;
}


.latest  .lastest-content:hover{
    box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px,
      rgb(0 0 0 / 72%) 0px 30px 22px -10px;
    transform: scale(1.05);
    border-color: rgba(249, 249, 249, 0.8);
}

/*--------------------------------Details-------------------------------------------*/
.details{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.details .detl-bg-img{
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 70px;
    left: 0.8;
    opacity: 1;
    z-index: -1; 
}

.details .row img{
    max-width: 600px;
    min-width: 200px;
    width: 35vw;
}

.details .details-controls{
    display: flex;
    align-items: center;
}


.details .details-controls .btn-0{
    background: rgb(249, 249, 249);
    padding: 0px 24px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    height: 46px; 
    letter-spacing: 1.8px;
    border: none;
    color: rgb(0, 0, 0);
    margin: 0px 20px 0px 0px;
    cursor: pointer
}

.details .details-controls .btn-1{
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(249, 249, 249);
    color: rgb(249, 249, 249);
    margin: 0px 20px 0px 0px;
    padding: 0px 24px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    height: 46px; 
    letter-spacing: 1.8px;
    border: none;
    cursor: pointer
    
}

.details .details-controls .btn-2{
    width: 50px;
    height: 50px;
    font-size: 15px;
    border-radius: 50%;
    color: rgb(249, 249, 249);
    margin: 0px 20px 0px 0px;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer
    
}

.details .details-controls .sub-title{
    color: rgb(249, 249, 249);
    font-size: 15px;
    min-height: 20px;
}

.details .details-controls .description{

  line-height: 1.4;
  font-size: 20px;
  padding: 16px 0px;
  color: rgb(249, 249, 249);
}






@media (max-width:400px){
    .details .row img{

        width: 100%;
    }

    .details .details-controls .btn{

        letter-spacing: 0px;
    }

}
